html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.logoimg {
    width: 64px;
    height: 64px;
    position: relative;
    left: 10px;
}

.navlinks a {
    padding: 12px;
    text-decoration: none;
    color: brown;
}

.navlinks a:hover {
    color: tomato;
}

.navbar {
    width: 100%;
    margin: auto;
    background-color: white;
    border-bottom: 1px #333 solid;
    margin-top: auto;
    position: fixed;
    z-index: 5;
}

.banner {
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1563874093519-ca5eda5cd776?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80");
    background-position: center center;
    background-size: cover;

}

.banner-container {
    width: 80%;
    margin: auto;
    padding: 300px 0 0 0;
}

.banner-container h5 {
    color: #C9A885;
    
}

h1 {
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

.hrr {
    /* Стиль position relative не нужен, так как была ошибка в закрывающем теге </div> */
    /* position: relative;
    top: 320px; */
    border: none;
    height: 1px;
    color: #333;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.lorem {
    /* Стиль position relative не нужен, так как была ошибка в закрывающем теге </div> */
    /* position: relative;
    top: 320px; */
    text-align: center;
    color: black;
    width: 70%;
    margin: auto;
}

.lorem h3 {
    padding-bottom: 20px;
    padding-top: 10px;
}

.lorem2 {
    /* Стиль position relative не нужен, так как была ошибка в закрывающем теге </div> */
    /* position: relative;
    top: 340px; */
    text-align: center;
    color: black;
    width: 78%;
    margin: auto;
}

.a-button {
    color: white;
    text-decoration: none;
    /* width: 200px; */
    margin: auto;
    padding: 16px;
    background-color: rgb(221, 88, 36);
}

.button {
    /* Стиль position relative не нужен, так как была ошибка в закрывающем теге </div> */
    /* position: relative;
    top: 340px; */
    /* border-radius: 3px; -- Сейчас по элемент с классом Button занимает 100% экрана. */
    text-align: center;

    border-radius: 3px;

    /* margin-top: 20px; */

}

.a-button :hover {
    background-color: #ba5100;
}


.schedule {
    background-color: #F7F4F1;
}

.schedule h4 {
    text-align: center;
    padding: 15px;
}

.schedule-container {
    width: 85%;
    margin: auto;
    display: flex;
    /* display: flex; для того, чтобы элементы были по порядку в строку*/
    justify-content: space-between;
    overflow: hidden;

}

@media(max-width:640px) {
    .schedule-container {
        flex-direction: column;
    }
}

.schedule-card {
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px #333;
    /* box-shadow: тень карточки (тень по x, y; размытие; цвет)*/
    border-radius: 3px;
    margin: 16px;
    padding: 10px;
}

.schedule-card-header {
    display: flex;
}

.schedule-card-header p {
    margin: 25px;
}

.schedule-card-header h5 {
    margin: 25px;
    font-weight: 700;
}

li {
    list-style-type: none;

}

ul {
    padding: 0;
    margin-left: 25px;
}

.schedule-card-time {
    font-weight: 500;
    color: rgb(26, 26, 25);
}

.h-relics {
    background-color: #FFFFFF;
}

.relics {
    display: flex;
    /* display: flex; -для того, чтобы элементы были по порядку в строку*/
    width: 100%;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    background-color: #FFFFFF;
}

.relics-img {
    width: 164px;
    height: 164px;
}

.relics-container {
    /* Вот эти стили внизу, которые закомментированы нормальные, просто ты перепутал что их нужно добавлять к блоку выше (блок с классом relics) */
    /* width: 85%;
    display: flex;
    margin: 16px;
    justify-content: space-between;
    text-align: center;*/


    /* Добавил отступ padding и фон блокам, чтобы тебе было понятнее как располагаются элементы внутри блоков relics-container и как relics-container блоки расположены внутри блока relics */
    padding: 16px;
    margin: auto;
    width: 85%;
    background-color: #FFFFFF;
}


.relics-container h6 {
    margin: 13px;
    text-align: center;
    color: #1E2839;
}

.h-online-note {
    width: 85%;
    margin: auto;
    background-color: #F7F4F1;
    
}

.h-online-note h4 {
    text-align: left;
    margin-left: 92px;
    padding-top: 40px;
    
}

.online-note {
    width: 85%;
    margin-left: 100px;
    background-color: #F7F4F1;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    
}

.on-note-img {
    width: 244px;
    height: 244px;
    /* margin-left: 60px;  ???*/
    position: relative; /* в этом случае есть смысл использовать это? */
    bottom: 50px;

}


